fastapi
uvicorn
colorama
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-google-vertexai
langchain-together
chromadb
tiktoken
google-cloud-aiplatform
rich
loguru
requests
beautifulsoup4
unstructured
pandas
werkzeug
numpy
scipy
lxml
